/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;

    --section-title-color: #353430;
    --subtitle-color: #fff1f7;

    --button-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);

    --bg-image: url('../images/cover-image-light.png');
}

.theme-light .page {
    background-color: var(--bg-color);
}
