/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    font-family: monospace;
}

.header {
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

.header__theme-menu {
    display: flex;
    justify-content: flex-end;
}

.header__theme-menu-list {
    display: flex;
    gap: 10px;
}

.header__theme-menu-button {
    background: transparent;
    border: 1px solid transparent;
    color: var(--button-color);
    cursor: pointer;
    padding: 5px 10px;
}

.header__theme-menu-button:hover {
    border-color: var(--button-hover);
}

.header__theme-menu-button_active {
    border-color: var(--button-color);
}